.allHome__nav{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(249 250 251);
}

.allHome__nav__child__button{
    font-weight: 700;
    font-size:18px;
    line-height:28px;
    cursor: pointer;
    color: rgb(96 165 250);
}

@media (max-width: 1499px) {
    .allHome__nav__child{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top:40px;
        margin-bottom:40px;
        padding: 1rem;
        border-radius: 0.375rem; 
        background-color: rgb(176, 206, 255);
        align-items: center;
    }
    .allHome__nav__child__header{
        font-size:24px;
        line-height:32px;
        font-weight: 700;
        color: rgb(58, 58, 58);
        grid-row: span 1 / span 1;
        cursor: pointer;
    }
}

@media (min-width: 1500px) {
    .allHome__nav__child{
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        margin-top:40px;
        margin-bottom:40px;
        padding: 1rem;
        border-radius: 0.375rem; 
        background-color: rgb(176, 206, 255);
        align-items: center;
    }

    .allHome__nav__child__header{
        font-size:24px;
        line-height:32px;
        font-weight: 700;
        color:rgb(58, 58, 58);
        grid-column: span 5 / span 5;
        cursor: pointer;
    }

    .allHome__nav__child__button{
        font-weight: 700;
        font-size:18px;
        line-height:28px;
        cursor: pointer;
        grid-column: span 2 / span 2;
        color: rgb(96 165 250);
    }
}